.container {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.form_container {
  /* width: 500px; */
  padding: 20px 20px 0;
  margin-top: 30px;
  background-color: #8aadf9;
  border-radius: 5px;
  border: 1px solid #598dff;
}

.form_container h1 {
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: 600;
}

.form_group {
  margin-bottom: 10px;
}

.form_group input {
  width: 60%;
}

.form_group textarea {
  width: 100%;
  resize: none;
}

.form_group input,
.form_group textarea {
  border: 1px solid #598dff;
  padding: 5px 8px;
  outline: none;
}

.form_group input:focus,
.form_group textarea:focus {
  border: 2px solid #55b53a;
}

.form_group label {
  margin-right: 10px;
}

.form_group label[for="description"] {
  margin-right: 0;
  display: block;
  margin-bottom: 5px;
  text-align: start;
}

.button_group {
  display: flex;
  justify-content: center;
}

.button_group button {
  background-color: #598dff;
  color: #ffffff;
  letter-spacing: 1px;
  padding: 10px 40px;
  font-size: 16px;
  border: 1px solid #8aadf9;
  border-radius: 5px;
  cursor: pointer;
}

.button_group button:hover {
  background-color: #3b6edc;
  color: #000000;
}